---
---

@import "{{ site.theme }}";

.inner {
  max-width: 720px;
}

#header_wrap {
  background: #d31a59;
}

#footer_wrap {
  background: #d31a59;
}

#main_content {
  padding-top: 40px;
  padding-bottom: 80px;
}

.outer img {
  position: absolute;
  margin: 0 auto;
  max-width: 250px;
  padding-left: 40px;
  padding-top: 20px;
  margin: 0 0 0 0;
  border: 0px;
  box-shadow: 0 0 0;
}

.inner img {
  position: relative;
  margin: 0 auto;
  max-width: 250px;
  padding-left: 40px;
  padding-top: 20px;
  margin: 0 0 0 0;
  border: 0px;
  box-shadow: 0 0 0;
}

/* The sidebar menu */
.sidenav {
  width: 160px;
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 240px;
  left: 0px;
  background-color: #f2f2f2; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
  padding-left: 40px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #0F79D0;
}


@media screen and (max-width: 1000px) {

	.outer img {
	  position: relative;
	  margin: 0 auto;
	  max-width: 250px;
	  padding-left: 40px;
	  padding-top: 10px;
	  margin: 0 0 0 0;
	  border: 0px;
	  box-shadow: 0 0 0;
	}

	.sidenav {
	  width: 100%;
	  position: relative;
	  z-index: 1;
	  top: 0px;
	  left: 0px;
	  background-color: #f2f2f2; /* Black */
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 0px;
	}

}
